/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Variables */
$corPrimaria: #e63f34;
$corTxtPadrao: #fff;
$corTxtPadraoMobile: #000;
$corActiveMobile: #fff397;
body .btnPrimario {
	background: $corPrimaria;
	color: $corTxtPadrao;
	font-size: 18px;
	line-height: 16px;
	padding: 16px 32px;
	border-radius: 24px;
	border: none;
	transition: all 0.3s;
}
body .btnPrimario:hover{
	background: $corTxtPadrao;
	color: $corPrimaria;	
}
.btnCta{
	svg{
		margin-left: 12px;
	}
}
/* Main */
.App{
  	font-family: 'Montserrat', cursive;	
	display: block;
	ul, li{
		list-style: none;
		padding: 0;
	}
	.logo{
	  	img{
	  		text-align: center;
	  		display: block;
	  		margin: 0 auto;
	  	}
	}
	a:hover,
	a:active{
		text-decoration: none;
	}
	.Hero{
		padding: 18px 0 56px;
		@media (min-width: 768px){
			padding: 56px 0 96px;
			/*height: 90vh;*/
			position: relative;
			// overlay pro bg
			&:before{
				background: $corTxtPadraoMobile;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				left: 0;
				opacity: 0.7;
				top: 0;
				content: "";
			}	
		}
		button{
			margin: 0 auto;
		}
		.containerBG{
			@media (min-width: 768px){
				width: 100%;
				height: 100%;
				background: url(img/hero-incriveis.jpg) no-repeat center center transparent;
				background-size: cover;
				position: absolute;
				z-index: -2;
				left: 0;
				top: 0;  
				-webkit-filter: saturate(0.7);
				filter: saturate(0.7);
			}
		}
		.content{
			padding: 0 24px;
			text-align: center;
			color: $corTxtPadraoMobile;
			@media (min-width: 768px){
				color: $corTxtPadrao;
			} 
			h2{
				margin-bottom: 32px;
				line-height: 36px;
				font-size: 30px;
				strong{
					font-weight: 600;
					color: $corPrimaria;
				}
				@media (min-width: 768px){
					max-width: 500px;
					font-size: 52px;
					line-height: 50px;
					margin: 0 auto 30px;
				}	
			}
			h5{
				font-weight: 400;
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 48px;
				@media (min-width: 768px){
					max-width: 500px;
					font-size: 28px;
					line-height: 32px;
					margin: 0 auto 48px;

				}
			}
			.btnCta{
				svg{
					margin-left: 12px;
				}
			}
		}
	}
	.Slick{
		margin-bottom: 60px;
		.slick-slide img { 
		    max-width: 100%;
		}
		.slick-slider{
			@media (max-width: 480px){
				overflow: hidden;
			}
		}
		.filmes{
			position: relative;	
			a{
				color: #000;
				margin: 8px 0 24px;
				display: block;
				text-align: center;
				font-weight: 600;
				@media (min-width: 768px){
					margin: 8px 0 24px;
					text-align: left;
				}
			}
			&:hover{
				img{
					opacity:0.8; 
				}
				.btnCta{
					opacity: 1;
				}
			}
			img{
				background: $corTxtPadraoMobile;
				transition: opacity 0.5s;
			}
			.btnCta{
				position: absolute;
				top: 6%;
				left: calc(50% - 109px);
				opacity: 0;
				cursor: pointer;	
			    font-size: 14px;	

				@media (max-width: 480px){
				    padding: 14px 18px;
					left: calc(50% - 95px);
				}
				svg{
					margin-left: 8px;
				}
			}
		}

	}
	.Details{
		background: #909090;
		padding: 48px 24px;
		position: relative;
		&:after{
		    content: "";
		    display: block;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 60px;
		    background: rgb(144,144,144);
		    background: linear-gradient(180deg, rgba(144,144,144,1) 0%, rgba(113,113,113,1) 100%);
		    opacity: 1;
		    z-index: 0;
		}
		.content{
			@media (min-width: 768px){
				max-width: 900px;	
				margin: 0 auto;
				display: block;			
			}
		}
		.categoryDetails{
			text-transform: uppercase;
			letter-spacing: 2px;
			display: block;
			position: relative;
			font-size: 18px;
			margin-bottom: 32px;
			color: #fff;
			@media (min-width: 768px){
				max-width: 500px;
				margin: 0 auto 32px;
			}
			&:after{
				content: "";
				height: 1px;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				background: #fff;
			} 
			span{
				background: #909090;
				position: relative;
				z-index: 1;
				padding-right: 24px;;
			}
		}
		.titleDetails{
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 16px;
			@media (min-width: 768px){
				text-align: center;
				font-size: 40px;
				max-width: 400px;
				margin: 0 auto 40px;
			}
		}
		.listagemDetails{ 
			@media (min-width: 768px){
				display: flex;
				justify-content: center;
			}
			li{
				@media (min-width: 768px){
					max-width: 50%;
					display: inline-block;
					padding: 0 24px;
				}
				.titleListagem{
					display: block;
					font-size: 20px;
					font-weight: 600;
					margin: 16px 0 8px;					
				}
				img{
					max-width: 100%;
					border-radius: 20px;
					@media (min-width: 768px){
						width: 360px;
					}
				}
				ul.topics{
					margin: 0 0 32px;
					li{	
						width: 50%;
						display: inline-block;
						padding: 0;
						svg{
							margin-right: 8px;
						}
						// &:before{
						//     content: "\f00c";	
						// 	display: inline;
						// 	margin-right: 8px;
						// 	font-family: "FontAwesome";
						// }
					}
				}
			}
		}
	}
}
.Footer{
	padding: 24px 0;
	img{
		max-width: 150px;
	}
	img, a{
		display: block;
		margin: 0 auto 8px;
		text-align: center;
		color: #000;
		text-transform: uppercase;
		color: #909090;
		&:hover{
			color: $corPrimaria;
		}
	}
	strong{
		display: block;
		color: $corTxtPadraoMobile;
	}
}
/* Boostrap Modal */
.sucesso{
	text-align: center;
	.textos{
		padding: 20% 0;
	}
}
.modal-dialog-centered{
	@media (max-width: 480px){
		margin:0 !important;
	}	
}
.modal-open .modal{
	@media (max-width: 480px){
		padding:0 !important;
	}	
}
.modal-content{
	@media (max-width: 480px){
		border: none !important;
		border-radius: 0 !important;
	}
	.modal-header .close {
	    position: absolute;
	    right: 20px;
	}
	img{
		margin: 0 auto;
		display: block;
		max-width: 160px;
	}
	.modal-body{
		.form-row > span{
			text-align: center;
			display: block;
			font-weight: 600;
			font-size: 18px;
			margin: 10px auto 20px;
		}
		label{
			color: #909090;
			font-size: 13px;
		}
		.form-check{
			label{
				font-size: 15px;
			}
		}
		button{
			display: block;
			margin: 40px auto 20px;
		}
	}
}